body {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px;
}



#outer {
    width: 570px;
    height: 380px;
    text-align: center;
    background-color: black;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 45px;
}

#inner {
    position: relative;
    /* width: 95%; */
    height: 100%;
    background-color: gray;
    /* margin: auto; */
    /* padding-top: 5%; */
}

h5{
    text-align: left;
    color: whitesmoke;
    padding-left: 10px;
    margin-left: 5%;
}

.login {
    float: right;
    height: 20%;
    width: 40%;
    margin-right: 25%;
}

.password{
    float: right;
    height: 20%;
    width: 40%;
    margin-right: 25%;
}

.confirm{
    float: right;
    height: 20%;
    width: 40%;
    margin-right: 25%;
}

.gender {
    /* float: right;
    height: 20%;
    width: 40%; */
    margin-right: 25%;
 
}


.email {
    float: right;
    height: 20%;
    width: 40%;
    margin-right: 25%;
}


#submit {
 float: left;
 margin-left: 6%;
}
